

#robot22{
width: 50%;
height: 150%;
margin-top: 8%;
margin-left: -20%;
}

#autopips{
    color: #ffffff;
    font-size: 19px;
    font-family: 'Righteous', cursive;
    margin-top: 7%;
    margin-left: -10%;
}
#autopips2{
    font-family: 'Righteous', cursive;
    color: rgb(4, 163, 163);
}


